*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9fffb;
}

.logo-ini{
    display: inline-block;
    position: absolute;
    margin-left: 15px;
   
}

.logo1{
    width: 45px;
    height: 45px;
}

.logo2{
    width: 40px;
    height: 42px;
}

nav{
    margin-top: 25px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 78%;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

nav ul li a:hover{
    color: aqua;
}

.titulo-blog{
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 80px;
    margin-top: 70px;
    margin-bottom: 40px;
}



h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;

}

.menu .submenu li{
    text-align: center;
    list-style: none;
}


.menu ul li a{
    text-decoration: none;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: orangered;
}

.submenu li a:hover{
    color: blue;
}

.img-html-css img{
    width: 1600px;
    height: 900px;
    margin-top: 140px;
    margin-left: 170px;    
}

.wb{
    margin-top: 100px;
}

.wb h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 50px;
}

.wb iframe{
   width: 960px;
   height: 515px;
   margin-left: 468px;
   border: 10px solid rebeccapurple;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}

.pilares{
    border-top: 5px double #FFCC1D;
    border-bottom: 5px double #FFCC1D;
    border-left: 5px double orangered;
    border-right: 5px double blue;
    background-image: url(../img/html-css-javascript.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position-x: center;
    background-position-y: 10px;
    margin-top: 50px;
    margin-left: 20px;
    width: 1840px;
    height: 270px;
}

.pilares h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.pilares ol{
    margin-left: 70px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
}

.etiquetas{
    border: 5px dotted red;
    margin-top: 50px;
    margin-left: 20px;
    width: 1840px;
    height: 330px;
    background-image: url(../img/etiquetas-html5.jpg);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-x: right;
    background-position-y: 15px;
}

.etiquetas h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.etiquetas p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 1100px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: justify;
    line-height: 33px;
}

.novedades{
    border: 5px outset red;
    margin-top: 50px;
    margin-left: 20px;
    width: 1840px;
    height: 930px;
    background-image: url(../img/css-3-logo.jpg);
}

.novedades h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.novedades p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    
    text-align: justify;
    line-height: 33px;
}

.estudia{
    margin-top: 150px;
}

.estudia h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 40px;
}

.estudia-2{
    margin-left: 450px;
}

.arriba-blog{
    display: block;
    text-align: center;    
    margin-top: 35px;
    margin-bottom: 25px;    
}

.arriba-blog a{
    text-decoration: none;    
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20px;
}

.final{
    display: block;
    position: absolute;
    top: 4550px;
    margin-left: 893px;
}

.logos-final{
    display: block;
    position: absolute;
    top: 4570px;
    margin-left: 840px;
}